body {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 20px;
}

p {
    font-size: 2rem;
    font-weight: bold;
}